/* /empresas/css/mis-proyectos.css */

/* Estilos para las tarjetas de proyectos */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body h5 {
    font-size: 1.25rem;
  }
  
  .card-body p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .card-img-top {
      height: 150px;
    }
  }

   /* Estilos para el sidebar */
   .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculto por defecto */
    width: 250px;
    height: 100%;
    background-color: #343a40;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1040; /* Por encima de la Navbar */
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .sidebar-header h3 {
    margin: 0;
  }
  
  .sidebar .components {
    padding: 0;
    list-style: none;
  }
  
  .sidebar .components li {
    padding: 10px 15px;
  }
  
  .sidebar .components li a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  
  .sidebar .components li a:hover {
    background-color: #495057;
  }