<!-- /estudiantes/components/sidebar.html -->
<aside class="sidebar">
    <nav class="nav">
        <ul>
            <li><a href="dashboard.html"><img src="ruta/a/la/imagen/dashboard-icono.png" alt="Dashboard" /> Dashboard</a></li>
            <li><a href="perfil.html"><img src="ruta/a/la/imagen/perfil-icono.png" alt="Perfil" /> Perfil</a></li>
            <li><a href="proyectos-disponibles.html"><img src="ruta/a/la/imagen/proyectos-icono.png" alt="Proyectos Disponibles" /> Proyectos Disponibles</a></li>
            <li><a href="mis-proyectos.html"><img src="ruta/a/la/imagen/mis-proyectos-icono.png" alt="Mis Proyectos" /> Mis Proyectos</a></li>
            <li><a href="proyectos-terminados.html"><img src="ruta/a/la/imagen/terminados-icono.png" alt="Proyectos Terminados" /> Proyectos Terminados</a></li>
            <li><a href="notificaciones.html"><img src="ruta/a/la/imagen/notificaciones-icono.png" alt="Mensajes" /> Mensajes</a></li>
    </nav>
</aside>
